
:root {
    /* color */

    --primary__color: #D03833;
    --secondary__color: #263461;
    --tertiary__color: #ffffff;
    --quaternary__color: #000000;
    --quinary__color: #666666;
    --senary__color: #0493CE;
    --septenary__color: #D9D9D9;
    --octonary__color: #2992C9;

    /* fonts */
    --primary__font: 'Roboto', sans-serif;
    --secondary__font: 'Roboto Condensed', sans-serif;
    --tertiary__font: 'Brush Script MT', cursive;

    /* font sizes Desktop*/
    --d__main_title--size: 72px;
    --d__title--size: 35px;
    --d__sub_title--size: 22px;
    --d__Paragraph--size: 16px;

    /* font sizes Mobile*/
    --m__title--size: 28px;
    --m__sub_title--size: 21px;
    --m__Paragraph--size: 14px;
}
/* commen */

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: var(--primary__font);
}
html {
    height: 100%;
    overflow: auto;
    -webkit-text-size-adjust: 100%;
}

body {
    overflow-x: hidden;
    margin: 0;
    font-display: swap;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    line-height: 1;
}

.btn {
    font-size: 16px;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: none;
    padding: .5rem 1rem;
    background: var(--secondary__color);
    color: var(--tertiary__color);
    margin: 20px 0 0;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    transition: all .3s ease;
}

ul {
    list-style: none;
}
li a {
    text-decoration: none;
}

/* ----------------------------------- navbar */

header {
    width: 100%;
}
header::after {
    content: '';
    visibility: hidden;
    display: flex;
    height: 0;
    clear: both;
}
header .nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 100px;
    padding: 30px 5%;
    position: relative;
}
header .nav .brand_logo {
    width: 300px;
}
header .nav .nav_burger {
    display: none;
    content: icon;
}
header .nav .nav_items {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 30px;
}
header .nav .nav_list a{
    font-size: var(--d__Paragraph--size);
    color: var(--secondary__color);
    font-weight: 600;
    margin: 0;
    padding: 0;
}
header .nav .nav_list .nav_dropdown {
    display: none;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    z-index: 10;
    background: var(--tertiary__color);
    color: var(--quinary__color);
}
header .nav .nav_list .nav_dropdown li a{
    color: var(--quinary__color);
}
header .nav .nav_list .nav_dropdown li a:hover {
    color: var(--secondary__color);
}
header .nav_list2:hover .nav_dropdown {
    display: flex;
}
header .nav_list3:hover .nav_dropdown {
    display: flex;
}
header .nav_list4:hover .nav_dropdown {
    display: flex;
}

header .nav .nav_list .nav_down {
    display: none;
}


@media screen and (max-width: 767px) {

    header .nav {
        padding: 20px 5%;
    }
    header .nav .brand_logo {
        width: 200px;
    }
    header .nav .nav_burger {
        display: block;
        position: absolute;
        font-size: 30px;
        top: 0;
        right: 0;
        cursor: pointer;
        padding: 10px;
        border-radius: 0 0 0 10px;
        background: var(--primary__color);
        color: var(--tertiary__color);
    }
    header .nav .nav_items {
        display: none;
        flex-direction: column;
        width: 65%;
        z-index: 999;
        padding: 20px;
        position: absolute;
        border-radius: 10px;
        top: 50px;
        right: 0;
        background: var(--tertiary__color);
    }
    header .nav .nav_list{
        padding-bottom: 20px;
    }
    header .nav .nav_list .nav_dropdown {
        position: relative;
        z-index: 0;
    }
    header .nav .nav_list2 a, .nav_list3 a, .nav_list4 a {
        display: flex;
        gap: 10px;
    }
    header .nav .nav_list .nav_down {
        display: block;
    }
}

/* tablet */
/* @media screen and (min-width: 768px) {} */

/* smal screen laptop */
/* @media screen and (min-width: 992px) {} */

/* Desktop */
/* @media screen and (min-width: 1200px) {} */



/* ------------------------------- Jingle */

#jingle {
    position: fixed; 
    right: -420px; 
    top: 190px; 
    z-index: 999; 
    display: flex; 
    align-items: flex-start;  
    transition: .5s right;
}
#jingle.expand {
    right: 0; 
    transition: .5s right;
}
#jingle button {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: 10px;
    padding: 15px 10px; 
    border-radius: 20px 0 0 20px;
    border: none;
    background: var(--secondary__color);
    margin-top: 50px;
}
#jingle .truck div {
    width: 420px; 
    height: 164px; 
    position: relative;
}
#jingle .truck div:first-child {
    border-top-left-radius: 20px;
}
#jingle .truck div:last-child {
    border-bottom-left-radius: 20px;
}
#jingle .truck div img {
    position: absolute; 
    top: -45px; 
    left: 50%; 
    transform: translateX(-50%); 
}
#jingle .truck div.tagline {
    color: var(--colorRed); 
    font-size: 2em; 
    padding: 15px 40px;
}

/* ------------------------------- sticky contact */

.contact {
    display: flex;
    position: fixed;
    justify-content: flex-end;
    z-index: 999;
    width: 100%;
} 

.contact .contact_menu {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    position: absolute;
    right: 50px;
    top: 0;
}

.contact .contact_list {
    padding: 10px 40px;
    font-size: var(--d__Paragraph--size);
    font-weight: 500;
    color: var(--tertiary__color);
    text-decoration: none;
}

.contact .list1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--secondary__color);
    border-radius: 0 0 0 50px;
}
.contact .list2 {
    background: var(--primary__color);
}
.contact .list3 {
    background: var(--senary__color);
    border-radius: 0 0 20px 0;
}

@media screen and (max-width: 767px) {
    .contact {
        position: relative;
        z-index: 0;
    } 
    .contact .contact_menu {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        position: relative;
        right: 0;
    }
    .contact .contact_list {
        padding: 20px 30px;
        width: 100%;
        border-radius: 0;
    }
    
}
/* @media screen and (min-width: 992px){} */
/* @media screen and (min-width: 1200px){} */


/* ---------------------------------- Hero banner */

.hero {
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 85vh;
}
.hero::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    opacity: 0.5;
    background: rgb(9,9,121);
    background: linear-gradient(180deg, rgba(9,9,121,0.8337928921568627) 0%, rgba(9,9,121,0.47805059523809523) 13%, rgba(255,255,255,0) 100%);
}
video {
    position: relative;
    display: flex;
    z-index: 0;
}
.hero_overlay {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    top: 0px;
    z-index: 2;
    width: 100%;
    height: inherit;
}
.hero_box {
    width: 100%;
    height: inherit;
}
.hero_content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto 0;
}

.hero_textbox2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    background: #263461b3;
    border-radius: 0 50px 50px 0;
    color: var(--tertiary__color);
    padding: 20px 100px 20px;
    width: 80%;
}
.hero_title {
    font-family: var(--tertiary__font);
    font-style: italic;
    font-size: 50px;
    padding-left: 100px;
    color: var(--tertiary__color);
}
.hero_textbox {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin: inherit;
}

.hero_textbox2 a{
    text-decoration: none;
    color: var(--tertiary__color);
}
.hero_number {
    display: flex;
    align-items: center;
}
.hero .hero_overlay .hero_content2 .or:before {
    content:""; 
    display: block; 
    width: 100%; 
    height: 100%; 
    position: absolute;
    top: -37px;
    left: 0px;
    background: url('../img/rectangle-out-bg.png') no-repeat center center;
}
.hero_content2 {
    display: flex;
    /* background: radial-gradient(circle at -110% 25%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, #ffffffaf 50%, #ffffffaf 100%);
    background-size: 100% 200%; */
    background: url(../img/curved-white-bg.png) no-repeat left center;
    background-size: auto 100%; 
    position: absolute; 
    right: 0; 
    top: 0; 
    height: 100%; 
    width: 48%; 
    z-index: 12; 
    padding: 5% 12%; 
    display: flex; 
    flex-direction: column; 
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;

}

.hero_textbox3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hero_textbox3 h1 {
    font-size: var(--d__main_title--size);
    color: var(--secondary__color);
}
.hero_textbox3 h3 {
    font-size: var(--d__title--size);
    color: var(--primary__color);
}
.hero_textbox3 h3 span {
    color: var(--secondary__color);
}
.hero_textbox3 .or {
    color: var(--quinary__color);
}
.hero_textbox3 hr {
    width: 100%;
    border: 2px solid var(--tertiary__color);
    margin: 10px 0;
}
.hero_textbox3 a{
    text-decoration: none;
    color: var(--primary__color);
    padding: 0;
    background: none;
    font-size: var(--d__Paragraph--size);
    border: none;
    margin: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s ease;
}
sup {
    vertical-align: super;
    font-size: smaller;
}

@media screen and (max-width: 600px) {
    .hero {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    video {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }
    .hero_overlay {
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .hero_content {
        display: none;
        position: relative;
    }
    .hero_content2 {
        width: 100%;
        display: flex;
        position: relative;
        background: url(../img/hero_bg_mobile.webp) top 25px left 0 no-repeat !important;
        background-size: 350px !important;
        text-align: center;
    }
    .hero_textbox3 {
        width: 100%;
        margin: 50px 0;
        align-items: center;
    }
    .hero_textbox3 h1{
        font-size: 70px;
    }
    .hero_textbox3 h3{
        font-size: 27px;
    }
    .hero_textbox3 hr{
        display: none;
    }
    .hero_textbox3 a{
        padding: 10px 20px;
        background: var(--primary__color);
        color: var(--tertiary__color);
        font-size: 16px;
        margin: 20px 0 0;
        border-radius: 10px;
        display: inline-block;
    }
}

/* <-- -------------------------- services --> */

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}
.service_box {
    background: var(--primary__color);
    width: 100%;
    height: 100px;
    position: relative;
}
.services_in {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0px auto;
    width: 90%;
    position: relative;
    top: -50px;
}
.services_card {
    background: var(--secondary__color);
    border-radius: 20px;
    text-align: center;
}
.services_card img{
    width: 100%;
    max-width: 400px;
  }
.services_card h4{
    padding: 20px;
    color: var(--tertiary__color);
}

@media screen and (max-width: 600px) {
    .services_in {
        gap: 10px;
        top: 50px;
    }
    .service_box {
        height: 50px;
    }
    .services_card img{
      width: 100%;
      max-width: 300px;
    }
}

/* <--------------------------- About us --> */

.aboutus {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 0 50px 0;
}
.aboutus_in {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}
.aboutus_img {
    position: relative;
    top: 0;
    left: 0;
}
.aboutus_img .aboutus_bgimg {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 8;
}
.aboutus_img .aboutus_overimg {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.aboutus_tv_mobile {
    display: none;
}
.aboutus_cards {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 100px;
    padding: 0;
    margin: 0;
}
.aboutus_card1 {
    display: flex;
    flex-direction: column;
    position: relative;
    float: right;
    background: var(--septenary__color);
    padding: 50px 100px 50px 120px;
    margin-left: -100px;
}
.aboutus_card1 h1 {
    font-family: var(--secondary__font);
    margin-bottom: 10px;
}
.aboutus_card1 a {
    text-decoration: none;
    color: var(--quinary__color);
    cursor: pointer;
}
.aboutus_card1 p {
    font-family: var(--primary__font);
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 10px;
}
.aboutus_card2 {
    display: flex;
    flex-direction: column;
    margin: 100px 0 10px 0px;
}
.aboutus_card2 h4{
    color: var(--tertiary__color);
    padding: 20px 20px 20px 30px;
    width: 50%;
    font-size: 28px;
    font-family: var(--secondary__font);
}
.aboutus_tv {
    position: absolute;
    right: 30px;
    bottom: -80px;
    z-index: -1;
}

@media screen and (max-width: 600px) {
    .aboutus {
        margin: 100px 0 50px 0;
        position: relative;
    }
    .aboutus_in {
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .aboutus_img {
        position: relative;
        display: none;
    }
    .aboutus_cards {
        width: 100%;
        gap: 0;
        padding: 0;
        margin: 0;
    }
    .aboutus_card1 {
        padding: 20px;
        margin: 0;
    }
    .aboutus_card2 {
        position: relative;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    .aboutus_card2 h4{
        background: var(--primary__color);
        color: var(--tertiary__color);
        padding: 20px 20px 40px 20px;
        margin: 0;
        font-size: 28px;
        font-family: var(--secondary__font);
        width: 100%;
        text-align: center;
    }
    .aboutus_tv_mobile {
        display: block;
        max-width: 300px;
        width: 100%;
        position: relative;
        top: -40px;
    }
    .aboutus_tv {
        display: none;
    }

}



/* <----------------------CUSTOMER REVIEWS ----> */

.review {
    background: var(--octonary__color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.review_title {
    width: 100%;
    font-size: 3em;
    padding: 20px;
    text-align: center;
    background: var(--primary__color);
    color: var(--tertiary__color);
    font-family: var(--secondary__font);
    font-size: var(--d__title--size);
}
/* ------------------ */
.swiper {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    padding: 50px 0;
    position: relative;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 300px;
    color: var(--quaternary__color);
    padding: 20px 0;
    background: #E4E4E4;
    border-radius: 20px;
    border: 1px solid var(--quaternary__color);
    text-align: center;
    font-size: 18px;
  }
  .next {
    cursor: pointer;
    position: absolute;
    top: 65px;
    right: 0px;
    z-index: 10;
}
.prev {
    cursor: pointer;
    position: absolute;
    top: 65px;
    left: 0px;
    z-index: 10;
  }

  @media only screen and (min-width: 769px) {
    .swiper-slide {
        width: 100%;
        max-width: 300px;
    }
    .swiper-slide:first-child {
      transition: transform 100ms;
    }

    .swiper-slide.swiper-slide-active:first-child {
      transform: translateX(50%);
      z-index: 2;
    }

    .swiper-slide.swiper-slide-active:first-child img {
      box-shadow: 0px 32px 80px rgba(0, 0, 0, 0.35);
    }

    .swiper-slide:nth-child(2) {
      transition: transform 100ms;
    }

    .swiper-slide.swiper-slide-next:nth-child(2) {
      transform: translateX(55%);
      z-index: 1;
    } 

    .swiper[dir="rtl"] .swiper-slide.swiper-slide-active:first-child {
      transform: translateX(-50%);
    }

    .swiper[dir="rtl"] .swiper-slide.swiper-slide-next:nth-child(2) {
      transform: translateX(-55%);
    }
  }
/* ------------------ */

.rating-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.rating-area i {
    color: var(--primary__color);
    font-size: 16px;
}
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
    text-align: center;
}
.description {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}
.name {
    margin-top: 20px;
}

/* <-- -------------------- BUTCHER IN THE COMMUNITY --> */

.community {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}
.community_title {
    font-size: 35px;
    padding: 20px;
    text-align: center;
    background: var(--primary__color);
    color: var(--tertiary__color);
    font-size: 35px;
    font-family: var(--secondary__font);
}
.community_in {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}
.community_img {
    margin: 20px 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.community_img img {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
}
.community_img1 {
    margin-left: -120px;
}
.community_img2 {
    position: absolute;
    top: 0;
    right: 120px;
    margin-right: 50px;
}
.community_img0 {
    display: none;
}
.community_img3 {
    display: none;
}
.community_img4 {
    display: none;
}
@media screen and (max-width: 600px) {
    .community {
        background: var(--octonary__color);
    }
    .community_title {
        font-size: 28px;
    }
    .community_img {
        display: none;
    }
    .community_img1 {
        display: none;
    }
    .community_img2 {
        display: none;
        position: relative;
    }
    .community_img0 {
        display: block;
        flex-wrap: wrap;
        gap: 20px;
    }
    .community_img0 img {
        width: 100%;
        max-width: 415px;
        display: block;
    }
    .community_img3 {
        margin: 10px 0;
        display: block;
    }
    .community_img4 {
        display: block;
    }
}

/* <!-- ------------------- BUTCHER AC SERVICE AREA --> */

.servicearea {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    background: #AEDBFF;
}
.servicearea_title {
    position: relative;
    padding: 20px 20px;
    text-align: left;
    background: var(--primary__color);
    color: var(--tertiary__color);
}
.servicearea_titlebox {
    position: relative;
    float: right;
    padding-right: 200px;
} 
.servicearea_in {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    position: relative;
}
.servicearea_title2 {
    padding: 10px;
    width: 120px;
    border-radius: 0 20px 0 0;
    background: var(--secondary__color);
    color: var(--tertiary__color);
}
.servicearea_title h1 {
    font-size: 35px;
}
.servicearea_title p {
    font-weight: lighter;
}
.servicearea_img {
    position: relative;
    top: -70px;
}
.servicearea_card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    /* margin: 100px 100px 100px 600px; */
}
.servicearea_card ul {
    list-style: none;
}
.servicearea_card ul li::before {
    content: "\•";
    color: var(--primary__color);
    display: inline-block; 
    width: 1em;
    /* margin-left: -1em; */
  }

.servicearea_list {
    display: flex;
    flex-direction: column;
    font-size: 19px;
    gap: 10px;
}
@media screen and (max-width: 600px) {
    .servicearea {
        display: none;
    }
}

/* <-- ------------------ Service Brief --> */

.servicebrief {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    font-family: var(--secondary__font);
}
.servicebrief_in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.servicebrief_card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: 100%;
    background: var(--octonary__color);
    position: relative;
}
.servicebrief_card2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: 100%;
    background: var(--octonary__color);
    position: relative;
}
.servicebrief_card p{
    width: 70%;
}
.servicebrief_content {
    position: relative;
    width: 90%;
    height: 100%;
    padding: 10%;
    margin: 0;
    background: var(--tertiary__color);
    border-radius: 0 200px 200px 0;
    /* background: url(../img/service_bg.webp) no-repeat cover 100% !important; */
}
.servicebrief_content2 {
    position: relative;
    right: -72px;
    width: 90%;
    height: 100%;
    padding: 10%;
    margin: 0;
    background: var(--tertiary__color);
    border-radius: 200px 0 0 200px;
    /* background: url(../img/service_bg_2.webp) no-repeat cover 100% !important; */
}
.servicebrief_content h4 {
    margin-bottom: 10px;
}
.servicebrief .servicebrief_card2 img {
    object-fit: contain;
    max-width: 800px;
    width: 100%;
}
.servicebrief .servicebrief_card img {
    object-fit: contain;
    max-width: 800px;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .servicebrief {
        display: none;
    }
}


/* ---------------------------------- footer */

.footer {
    position: relative;
    width: 100%;
    max-width: 100%;
    font-family: var(--secondary__font);
    margin: 0;
}
.footer_in {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.footer_card {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    gap: 20px;
}
.footer_card hr {
    transform:rotate(90deg);
    width:100px;
    height:2px;
    border: 1px solid var(--secondary__color);
}
.footer_card .footer_brandlogo {
    margin-left: 50px;
}
.footer_logos {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    gap: 20px;
}
.footer_card2 {
    display: flex;
    position: relative;
}

.footer_card2 h4 {
    font-family: var(--tertiary__font);
    font-style: italic;
    font-size: 30px;
    position: absolute;
    top: 50px;
    left: 150px;
}
/* ------------------------- */


.footer_contact {
    display: flex;
    position: sticky;
    z-index: 999;
    width: 100%;
} 

.footer_contact_menu {
    display: flex;
    flex-direction: row;
    text-align: right;
    margin: auto;
    font-size: 12px;
    position: absolute;
    float: right;
    right: 50px;
    top: 0;
}

.footer_contact_list {
    padding: 10px 30px;
}

.footer_contact a {
    color: var(--tertiary__color);
    text-decoration: none;
}

.footer_contact .list1 {
    background: var(--secondary__color);
    border-radius: 0 0 0 50px;
    align-items: center;
    display: flex;
}
.footer_contact .list2 {
    background: var(--primary__color);
}
.footer_contact .list3 {
    background: var(--senary__color);
    border-radius: 0 0 20px 0;
}
.footer_logos {
    display: flex;
    flex-direction: column;
}
.footer_logos2 {
    display: flex;
    gap: 20px;
}

@media screen and (max-width: 600px) {
    .footer {
        display: flex;
    }
    .footer_contact {
        display: none;
    } 
    .footer_in {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px 0 0 0;
    }
    .footer_card {
        display: flex;
        flex-direction: column-reverse;
        margin: 40px 0;
    }
    hr {
        display: none;
    }
    .footer_card .footer_brandlogo {
        margin: 0;
        width: 300px;
        height: 100px;
    }
    .footer_card2 {
        display: flex;
        position: relative;
    }
    .footer_card2 h4 {
        font-family: var(--tertiary__font);
        font-style: italic;
        font-size: 30px;
        position: absolute;
        top: 20px;
        left: 20px;
    }
    .footer_carimg {
        max-width: 415px;
        width: 100%;
    }
    .footer_logos2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer_logos .logo1 {
        width: 250px;
        height: 80px;
    }
    .footer_logos .logo2 {
        width: 100px;
        height: 120px;
    }
    .footer_logos .logo3 {
        width: 250px;
        height: 80px;
    }
}