
:root {
    /* color */

    --primary__color: #D03833;
    --secondary__color: #263461;
    --tertiary__color: #ffffff;
    --quaternary__color: #000000;
    --quinary__color: #666666;
    --senary__color: #0493CE;
    --septenary__color: #D9D9D9;
    --octonary__color: #2992C9;

    /* fonts */
    --primary__font: 'Roboto', sans-serif;
    --secondary__font: 'Roboto Condensed', sans-serif;
    --tertiary__font: 'Brush Script MT', cursive;

    /* font sizes */
    --hero__title--size: 5rem;
}

.btn {
    font-size: 16px;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: none;
    padding: .5rem 1rem;
    background: var(--secondary__color);
    color: var(--tertiary__color);
    margin: 20px 0 0;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    transition: all .3s ease;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: var(--primary__font);
}

html {
    height: 100%;
    overflow: auto;
    -webkit-text-size-adjust: 100%;
  }

body {
    overflow-x: hidden;
    position: relative;
    margin: 0;
    font-display: swap;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    line-height: 1;
}
/* section {
    margin: 30px auto;
} */
/* ----------------------------------- navbar */

.nav {
    display: flex;
    align-items: center;
    gap: 100px;
    position: relative;
    margin: 30px 50px;
}
.nav_burger {
    display: none;
    content: icon;
}
.fa-bars:before {
    content: "\f0c9";
}
.nav_menuitems {
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-align: center;
}
.nav_list {
    text-decoration: none;
    display: flex;
    color: var(--secondary__color);
}

@media screen and (max-width: 600px) {
    .nav {
        display: flex;
        justify-content: space-between;
        /* align-items: center; */
        position: relative;
        margin: 20px 15px;
    }
    .nav_burger {
        display: block;
        font-size: 30px;
        color: var(--tertiary__color);
        background: var(--primary__color);
        padding: 10px;
        cursor: pointer;
    }
    .nav_menuitems {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 0;
        background: var(--primary__color);
        width: 70%;
        padding: 20px 0px;
        z-index: 999;
    }
    .nav_list {
        color: #fff;
        padding: 10px 20px;
        text-align: left;
    }
    .a:hover {
        color: #fff;
        background: var(--primary__color);
        padding: 10px 20px;
    }
}
/* sticky contact */

.contact {
    display: flex;
    position: fixed;
    z-index: 999;
    width: 100%;
} 

.contact .contact_menu {
    display: flex;
    flex-direction: row;
    text-align: right;
    margin: auto;
    font-size: 12px;
    position: absolute;
    float: right;
    right: 50px;
    top: 0;
}

.contact .contact_list {
    padding: 10px 40px;
    font-size: 19px;
}

.contact a {
    color: var(--tertiary__color);
    text-decoration: none;
}

.contact .list1 {
    background: var(--secondary__color);
    border-radius: 0 0 0 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.contact .list2 {
    background: var(--primary__color);
}
.contact .list3 {
    background: var(--senary__color);
    border-radius: 0 0 20px 0;
}

@media screen and (max-width: 600px) {
    .contact {
        position: relative;
        z-index: 0;
    } 
    .contact .contact_menu {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        position: relative;
        float: none;
        right: 0;
    }
    .contact .contact_list {
        padding: 20px 30px;
        width: 100%;
        border-radius: 0;
    }
    
}


/* banner */

.hero {
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 84vh;
}
.hero::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    opacity: 0.5;
    background: rgb(9,9,121);
    background: linear-gradient(180deg, rgba(9,9,121,0.8337928921568627) 0%, rgba(9,9,121,0.47805059523809523) 13%, rgba(255,255,255,0) 100%);
}
video {
    position: relative;
    display: flex;
    z-index: 0;
}
.hero_overlay {
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index:1;
    width: 100%;
    height: inherit;

}
.hero_content {
    display: flex;
    flex-direction: column;
    margin: auto 0;
}
.hero_title {
    font-family: var(--tertiary__font);
    font-style: italic;
    font-size: 50px;
    padding-left: 100px;
    color: var(--tertiary__color);
}
.hero_textbox {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin: inherit;
}
.hero_textbox2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #263461b3;
    border-radius: 0 50px 50px 0;
    color: var(--tertiary__color);
    padding: 20px 100px 20px;
    width: 500px;
}
.hero_textbox2 a{
    text-decoration: none;
    color: var(--tertiary__color);
}
.hero_number {
    display: flex;
    align-items: center;
}

.hero_content2 {
    display: flex;
    background: radial-gradient(circle at -110% 25%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, #ffffffaf 50%, #ffffffaf 100%);
    background-size: 100% 200%;
    height: 100vh;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;

}
.hero_box {
    width: 50%;
    height: inherit;
}

.hero_textbox3{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hero_textbox3 h1{
    font-size: 100px;
    color: var(--secondary__color);
}
.hero_textbox3 h3{
    font-size: 40px;
    color: var(--primary__color);
}
.hero_textbox3 h3 span{
    color: var(--secondary__color);
}
.hero_textbox3 .OR{
    color: var(--quinary__color);
}
.hero_textbox3 hr{
    width: 100%;
    border: 2px solid var(--tertiary__color);
    margin: 10px 0;
}
.hero_textbox3 a{
    text-decoration: none;
    color: var(--primary__color);
    padding: 0;
    background: none;
    font-size: 16px;
    border: none;
    margin: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s ease;
}

@media screen and (max-width: 600px) {
    .hero {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    video {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }
    .hero_overlay {
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .hero_content {
        display: none;
        position: relative;
    }
    .hero_content2 {
        width: 100%;
        display: flex;
        position: relative;
        background: url(../img/hero_bg_mobile.webp) top 5px left 0 no-repeat !important;
        background-size: 390px !important;
        text-align: center;
    }
    .hero_textbox3 {
        width: 100%;
        margin: 50px 0;
        align-items: center;
    }
    .hero_textbox3 h1{
        font-size: 70px;
    }
    .hero_textbox3 h3{
        font-size: 27px;
    }
    .hero_textbox3 hr{
        display: none;
    }
    .hero_textbox3 a{
        padding: 10px;
        background: var(--primary__color);
        color: var(--tertiary__color);
        font-size: 16px;
        margin: 20px 0 0;
        border-radius: 10px;
        width: 200px;
    }
}

/* <-- -------------------------- services --> */

.services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}
.service_box {
    background: var(--primary__color);
    width: 100%;
    height: 100px;
    position: relative;
}
.services_in {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0px auto;
    width: 90%;
    position: absolute;
    top: 50px;
}
.services_card {
    background: var(--secondary__color);
    border-radius: 20px;
    text-align: center;
}
.services_card img{
    width: 100%;
    max-width: 400px;
  }
.services_card h4{
    padding: 20px;
    color: var(--tertiary__color);
}

@media screen and (max-width: 600px) {
    .services_in {
        gap: 10px;
        position: relative;
    }
    .service_box {
        height: 50px;
    }
    .services_card img{
      width: 100%;
      max-width: 300px;
    }
}

/* <--------------------------- About us --> */

.aboutus {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 300px 0 0 0;
}
.aboutus_in {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}
.aboutus_img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.aboutus_img img {
    width: 45%;
}
.aboutus_tv_mobile {
    display: none;
}
.aboutus_img .aboutus_overimg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.aboutus_cards {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 50px;
    padding: 0;
    margin: 0;
}
.aboutus_card1 {
    display: flex;
    flex-direction: column;
    position: relative;
    background: var(--septenary__color);
    padding: 20px 100px 20px 120px;
    margin: 80px 0 0 540px;
}
.aboutus_card1 h1 {
    font-family: var(--secondary__font);
    margin-bottom: 10px;
}
.aboutus_card1 p {
    font-family: var(--primary__font);
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 10px;
}
.aboutus_card2 {
    display: flex;
    flex-direction: column;
    margin: 100px 0 10px 0px;
}
.aboutus_card2 h4{
    color: var(--tertiary__color);
    padding: 20px 100px 20px 120px;
    margin: 0 0 0 540px;
    width: 50%;
    font-size: 28px;
    font-family: var(--secondary__font);
}
.aboutus_tv {
    position: absolute;
    right: 120px;
    bottom: -80px;
    float: right;
    z-index: -1;
}

@media screen and (max-width: 600px) {
    .aboutus {
        margin: 100px 0 50px 0;
    }
    .aboutus_img {
        position: relative;
        display: none;
    }
    .aboutus_cards {
        width: 100%;
        gap: 0;
        padding: 0;
        margin: 0;
    }
    .aboutus_card1 {
        padding: 20px;
        margin: 0;
    }
    .aboutus_card2 {
        position: relative;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    .aboutus_card2 h4{
        background: var(--primary__color);
        color: var(--tertiary__color);
        padding: 20px 20px 40px 20px;
        margin: 0;
        font-size: 28px;
        font-family: var(--secondary__font);
        width: 100%;
        text-align: center;
    }
    .aboutus_tv_mobile {
        display: block;
        max-width: 300px;
        width: 100%;
        position: absolute;
        top: 70px;
    }
    .aboutus_tv {
        display: none;
    }

}



/* <----------------------CUSTOMER REVIEWS ----> */

.review {
    margin-top: 200px;
    background: var(--octonary__color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* .review_title {
    width: 100%;
    font-size: 3em;
    padding: 20px;
    text-align: center;
    background: var(--primary__color);
    color: var(--tertiary__color);
    font-family: var(--secondary__font);
    font-size: 35px;
} */
/* ------------------ */

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }

  @media only screen and (min-width: 769px) {
    .swiper-slide:first-child {
      transition: transform 100ms;
    }

    .swiper-slide:first-child img {
      transition: box-shadow 500ms;
    }

    .swiper-slide.swiper-slide-active:first-child {
      transform: translateX(50%);
      z-index: 2;
    }

    .swiper-slide.swiper-slide-active:first-child img {
      box-shadow: 0px 32px 80px rgba(0, 0, 0, 0.35);
    }

    .swiper-slide:nth-child(2) {
      transition: transform 100ms;
    }

    .swiper-slide.swiper-slide-next:nth-child(2) {
      transform: translateX(55%);
      z-index: 1;
    }

    .swiper[dir="rtl"] .swiper-slide.swiper-slide-active:first-child {
      transform: translateX(-50%);
    }

    .swiper[dir="rtl"] .swiper-slide.swiper-slide-next:nth-child(2) {
      transform: translateX(-55%);
    }
}

/* ------------------ */

/* .slide-container {
    margin: 50px 0;
    max-width: 1120px;
    width: 100%;
}
.slide-content {
    margin: 0 40px;
    overflow: hidden;
}
.card {
    width: 300px;
    color: var(--quaternary__color);
    padding: 20px 0;
    background: #E4E4E4;
    border-radius: 20px;
    border: 1px solid var(--quaternary__color);
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rating-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.rating-area i {
    color: var(--primary__color);
    font-size: 16px;
}
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
    text-align: center;
}
.description {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}
.name {
    margin-top: 20px;
} */

/* <-- -------------------- BUTCHER IN THE COMMUNITY --> */

.community {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}
.community_title {
    font-size: 35px;
    padding: 20px;
    text-align: center;
    background: var(--primary__color);
    color: var(--tertiary__color);
    font-size: 35px;
    font-family: var(--secondary__font);
}
.community_in {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}
.community_img {
    margin: 20px 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.community_img img {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
}
.community_img1 {
    margin-left: -120px;
}
.community_img2 {
    position: absolute;
    top: 0;
    right: 120px;
    margin-right: 50px;
}
.community_img0 {
    display: none;
}
.community_img3 {
    display: none;
}
.community_img4 {
    display: none;
}
@media screen and (max-width: 600px) {
    .community {
        background: var(--octonary__color);
    }
    .community_title {
        font-size: 28px;
    }
    .community_img {
        display: none;
    }
    .community_img1 {
        display: none;
    }
    .community_img2 {
        display: none;
        position: relative;
    }
    .community_img0 {
        display: block;
        flex-wrap: wrap;
        gap: 20px;
    }
    .community_img0 img {
        width: 100%;
        max-width: 415px;
        display: block;
    }
    .community_img3 {
        margin: 10px 0;
        display: block;
    }
    .community_img4 {
        display: block;
    }
}

/* <!-- ------------------- BUTCHER AC SERVICE AREA --> */

.servicearea {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    background: #AEDBFF;
}
.servicearea_title {
    position: relative;
    padding: 20px 20px 20px 660px ;
    text-align: left;
    background: var(--primary__color);
    color: var(--tertiary__color);
}
.servicearea_in {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    position: relative;
    gap: 50px;
}
.servicearea_title2 {
    padding: 10px;
    width: 120px;
    border-radius: 0 20px 0 0;
    background: var(--secondary__color);
    color: var(--tertiary__color);
}
.servicearea_title h1 {
    font-size: 35px;
}
.servicearea_title p {
    font-weight: lighter;
}
.servicearea_img {
    position: absolute;
    top: -70px;
    left: 100px;
}
.servicearea_img img{
    width: 100%;
    max-width: 500px;
}
.servicearea_card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 100px 100px 100px 600px;
}
.servicearea_card ul {
    list-style: none;
}
.servicearea_card ul li::before {
    content: "\•";
    color: var(--primary__color);
    display: inline-block; 
    width: 1em;
    /* margin-left: -1em; */
  }

.servicearea_list {
    display: flex;
    flex-direction: column;
    font-size: 19px;
    gap: 10px;
}
@media screen and (max-width: 600px) {
    .servicearea {
        display: none;
    }
}

/* <-- ------------------ Service Brief --> */

.servicebrief {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    font-family: var(--secondary__font);
}
.servicebrief_in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.servicebrief_card {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    background: var(--octonary__color);
    position: relative;
}
.servicebrief_card2 {
    display: flex;
    position: relative;
    float: right;
    right: 0;
    /* padding-left: 150px; */
}
.servicebrief_card img {
    width: 100%;
    max-width: 700px;
}
.servicebrief_card p{
    width: 70%;
}
.servicebrief_content {
    width: 45%;
    height: 100%;
    padding: 75px;
    margin: 0;
    background: url(../img/service_bg.webp) no-repeat !important;
    background-size: 100% !important;
}
.servicebrief_content2 {
    width: 45%;
    height: 100%;
    padding: 64px;
    margin: 0;
    background: url(../img/service_bg_2.webp) no-repeat !important;
    background-size: cover !important;
}
.servicebrief_content h4 {
    margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
    .servicebrief {
        display: none;
    }
}

/* ---------------------------------- footer */

.footer {
    position: relative;
    width: 100%;
    max-width: 100%;
    font-family: var(--secondary__font);
    margin: 0;
}
.footer_in {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.footer_card {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    gap: 20px;
}
.footer_card hr {
    transform:rotate(90deg);
    width:100px;
    height:2px;
    border: 1px solid var(--secondary__color);
}
.footer_card .footer_brandlogo {
    margin-left: 50px;
}
.footer_logos {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    gap: 20px;
}
.footer_card2 {
    display: flex;
    position: relative;
}

.footer_card2 h4 {
    font-family: var(--tertiary__font);
    font-style: italic;
    font-size: 30px;
    position: absolute;
    top: 50px;
    left: 150px;
}
/* ------------------------- */


.footer_contact {
    display: flex;
    position: sticky;
    z-index: 999;
    width: 100%;
} 

.footer_contact_menu {
    display: flex;
    flex-direction: row;
    text-align: right;
    margin: auto;
    font-size: 12px;
    position: absolute;
    float: right;
    right: 50px;
    top: 0;
}

.footer_contact_list {
    padding: 10px 30px;
}

.footer_contact a {
    color: var(--tertiary__color);
    text-decoration: none;
}

.footer_contact .list1 {
    background: var(--secondary__color);
    border-radius: 0 0 0 50px;
    align-items: center;
    display: flex;
}
.footer_contact .list2 {
    background: var(--primary__color);
}
.footer_contact .list3 {
    background: var(--senary__color);
    border-radius: 0 0 20px 0;
}
.footer_logos {
    display: flex;
    flex-direction: column;
}
.footer_logos2 {
    display: flex;
    gap: 20px;
}

@media screen and (max-width: 600px) {
    .footer {
        display: flex;
    }
    .footer_contact {
        display: none;
    } 
    .footer_in {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px 0 0 0;
    }
    .footer_card {
        display: flex;
        flex-direction: column-reverse;
        margin: 40px 0;
    }
    hr {
        display: none;
    }
    .footer_card .footer_brandlogo {
        margin: 0;
        width: 300px;
        height: 100px;
    }
    .footer_card2 {
        display: flex;
        position: relative;
    }
    .footer_card2 h4 {
        font-family: var(--tertiary__font);
        font-style: italic;
        font-size: 30px;
        position: absolute;
        top: 20px;
        left: 20px;
    }
    .footer_carimg {
        max-width: 415px;
        width: 100%;
    }
    .footer_logos2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer_logos .logo1 {
        width: 250px;
        height: 80px;
    }
    .footer_logos .logo2 {
        width: 100px;
        height: 120px;
    }
    .footer_logos .logo3 {
        width: 250px;
        height: 80px;
    }
}